page-client-list {

 .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before
    {
        background-image : none;
    }
    .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before
    {
        background-image : none;
    }
    .toolbar-background-md{
        background: #00e9d5;
    }
    .toolbar-background-ios{
        background: #00e9d5;
    }
    .toolbar-title-md{
        color: #fff;
    }
    .toolbar-title-ios{
        color: #fff;
    }
     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color : #fff;
    }
    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default{
        color : #fff;
    }
    .toolbar-title {
         width: 85%;
    }
    .arrow_img{
        height: 20px;
        width: 10px;
    }
    .row{
        padding : 10px;
        align-items: center;
    }
    .list-md{
        margin : 0px 0px 0px 0px;
        border-top : 1px solid #bcbcbc;
    }
    
    .back_white{
        background-color: #fff;
    }
    .back_grey{
        background-color: #f2f2f2;
    }
}
