<!--
  Generated template for the ClientHouselistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton>
      <ion-title text-center>List Houses</ion-title>
      <ion-buttons end style="margin-right : 20px; " (click)="Logout()" >
        <button ion-button icon-only style="color : #fff">  
          <ion-icon name="md-power"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content margin-top>
  
      <ion-grid>
          <ion-searchbar (ionInput)="getItems($event)" *ngIf="hide_searchbar"></ion-searchbar>
  
          <ion-label *ngIf="hide_label" text-center>House Does Not Exists!</ion-label>
      
      
          <div *ngIf="list" margin-top>
      
            <ion-list *ngFor="let clients_house of list.response; let i = index;">
              <ion-row (click)="House_click(clients_house,i)" class="back_white" id="house_{{i}}">
                <ion-col col-11><b>House {{i}} #ID{{clients_house.id}}</b></ion-col>
                <ion-col col-1>
                  <img src="assets/arrow.png" class="arrow_img">
                </ion-col>
              </ion-row>
      
            </ion-list>
          </div>
      
        </ion-grid>
  
  </ion-content>
  